* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 200ms;
}

body {
	background: #d4e8f2;
	margin: 0 auto;
	padding: 100px 0;
}

.app-container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1100px;
}

.app-title {
	font-weight: 300;
	color: rgba(0, 0, 0, 0.7);
}

.app-inputs {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 70%;
	margin-top: 20px;
}

.input-label {
	margin-bottom: 5px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

.input-label-edit {
	position: absolute;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	top: -18px;
}

.app-inputs input,
.list-item input {
	border: 1px solid lightgrey;
	height: 40px;
	padding: 0 15px;
	border-radius: 5px;
}

.list-item {
	height: 40px;
	padding: 5px;
	border-radius: 5px;
}

.list-btns,
.list-title,
.list-amount {
	display: flex;
	align-items: center;
}

.app-inputs input::placeholder {
	color: rgba(0, 0, 0, 0.25);
}

.app-inputs input:focus {
	outline: none;
}

.app-first-input,
.app-second-input {
	display: flex;
	flex-direction: column;
	margin: 20px 7px;
}

.app-first-input {
	width: 50%;
}

.app-second-input {
	width: 30%;
}

.app-input-button {
	width: 20%;
	height: 40px;
	margin: 20px 7px;
	background: rgb(105, 195, 165);
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.app-input-button:hover {
	background: #9ac3d8;
}

.app-data-table {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0 10px;
}

.app-data-total {
	display: flex;
	justify-content: right;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.7);
	padding: 0 10px;
}

.app-data-list {
	display: flex;
	flex-direction: column;
}

.title-wrapper {
	display: flex;
	align-items: center;
}

.title-edit-input {
	width: 300px;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	margin: 10px 0;
	color: rgba(0, 0, 0, 0.7);
}

.list-btns {
	display: flex;
}

.list-btns img {
	width: 20px;
	height: 20px;
	margin: 0 7px;
	cursor: pointer;
}
